.foresight-container {
	width: 90%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 200px 150px 600px;

	justify-items: center;
}

.foresight-playoff-seeding {
	display: flex;
	justify-content: center;

	height: 100%;
	width: 90%;

	border: 1px solid red;
}

.conference-container {
	width: 49%;
	margin-right: 12px;
}

.conference-grid {
	display: grid;

	width: 100%;
	height: 50%;

	margin-top: 2px;

	column-gap: 12px;
	row-gap: 12px;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 30%);

	grid-template-areas:
	'second third fourth'
	'fifth sixth seventh';

	justify-content: center;
	align-items: center;

}

.nfc {
	display: flex;

	justify-content: center;
	align-items: center;

	color: white;
	font-weight: 600;

	width: 100%;
	height: 10%;

	background-color: #013369;

	border: 4px solid white;
}

.afc {
	display: flex;

	justify-content: center;
	align-items: center;

	color: white;
	font-weight: 600;

	width: 100%;
	height: 10%;

	background-color: #d50a0a;

	border: 4px solid white;
}

.first {
	width: 100%;
	height: 18%;

	margin-bottom: 6px;

	display: flex;

	justify-content: center;
	align-items: center;

	font-weight: 600;
	color: white;

}

.second {
	grid-area: second;

	display: flex;

	justify-content: center;
	align-items: center;

}

.third {
	grid-area: third;

	display: flex;

	justify-content: center;
	align-items: center;

}

.fourth {
	grid-area: fourth;

	display: flex;

	justify-content: center;
	align-items: center;

}

.fifth {
	grid-area: fifth;

	display: flex;

	justify-content: center;
	align-items: center;

}

.sixth {
	grid-area: sixth;

	display: flex;

	justify-content: center;
	align-items: center;

}

.seventh {
	grid-area: seventh;

	display: flex;

	justify-content: center;
	align-items: center;

}

.seeding-sizing {
	width: 100%;
	height: 100%;

	font-weight: 600;
	color: white;
}

.playoff-seeding-record {
	margin-top: 4px;
	margin-left: 3px;

	font-weight: 600;
	font-size: 10px;
}

.foresight-dashboard {
	width: 90%;
	max-height: 200px;

}

.season-selector {
	width: 100%;

	display: flex;
	justify-content: center;
}

.week-team-selector {
	width: 100%;
	max-height: 45px;

	display: flex;
}

.dashboard-scrollable-content {
	height: 53px;

	display: grid;
	gap: 0.5rem;
	grid-auto-flow: column;
	grid-auto-columns: 60px;

	overflow-x: auto;
	overflow-y: hidden;
	overscroll-behavior-inline: contain;
}

.dashboard-scrollable-content::-webkit-scrollbar {
	width: 0px;
}

.game-grid-container {
	margin-top: 1rem;

	display: grid;
	width: 90%;

	gap: 1rem;

	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 200px;

	justify-items: center;
	align-items: center;
}

.game-card-grid {
	display: grid;

	grid-template-columns: 100%;
	grid-auto-rows: 10% 35% 10% 45%;

	width: 100%;
	height: 100%;

	background-color: #E6D1BA;
}

.game-card {
	display: flex;

	width: 100%;
	height: 100%;

	justify-content: center;
	align-items: center;
}

.primetime-game {
	margin-top: 15px;

	display: flex;

	justify-content: center;
	align-items: center;

	font-size: 12px;
	font-weight: 600;
}

.game-time-stadium-card {
	margin-top: 10px;

	display: grid;

	justify-content: center;
	align-items: center;

	grid-template-columns: 100%;
	grid-auto-rows: 25px;

	font-size: 12px;
	font-weight: 600;

	background-color: #f6e9db;
}

.game-tie {
	margin-bottom: 10px;

	display: flex;

	justify-content: center;
	align-items: center;
}

.team {
	display: flex;

	width: 40%;
	height: 40%;

	font-weight: 600;
	color: white;

	justify-content: center;
	align-items: center;
}

.losing-team {
	background: rgb(169, 169, 169) !important;
	border: 2px solid rgb(158, 158, 158) !important;
	color: rgb(208, 208, 208);
}

.info-and-controls {
	display: grid;

	margin-top: 5px;
	height: 50px;

	grid-template-columns: 30% 40% 30%;
}

.foresight-team-record {
	display: flex;

	justify-content: start;
	align-items: center;

	margin-left: 10px;

	font-weight: 600;
	font-size: 21px;
}

.foresight-buttons {
	margin-right: 10px;
	display: flex;
	justify-content: end;
}
